

.step1{
    width: 100%;
    height: 120vh;
    padding-top: 82px;
    background: url('../img/bg_image.jpg') center no-repeat;
    background-size: cover;
    align-items: center;
    text-align: center;
}