

.each-symbol{
    padding: 0.1px 7px;
    background: #0077b6;
    border-radius: 30px;
    margin: 0px 5px;
}

.each-dot{
    font-size: 51px;
    color: #caf0f8;
}

.platforms {
    border-radius: 30px;
    margin-left: 10px;
}



.platforms:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
